language: android
#sudo: required

jdk:
    - oraclejdk8

env:
    global:
        - secure: "EHr7jdca7v9K7mRPqLlPHK3uuiZ54YWBVPKmABXnnDWJ92pp99k10o38sXR9FPkDoh3kT59SVPgZNz9HIzKXtEkVHfpVTda0EArbLsRvY9K8ykGwZnxZxkq1+cZ8bfNam2M5KOyQkE7xibSzHxcOQvcNAZJqE14eCES7mspDyQ6xTyUOYdiL6aKPrk9NRIFjeJR01UDr0S5PAO3ZYrjmj7wGpM4HeKABJZLfMvB1zdwy7pJunE6ACoPKaCc4VkXblR2AYSa088bRDt35z7cjes2PsEKwL301dW4cb8hlWCTCA6a2BJ/mRyt56scrqmavl8vbALevmZF3E7h8CzCd5EgCo7RpWd/fYVOKhQTE8scL8VEIU2zW0pFx2hDR0IGzMkdJZDfYoqYmGRcnmpk/WzZO0QG6X8nxMK3EwoCKYtjSgICeuORHHbj4ygvb8iMLc+3YXpEbjNx57MteU2e8Y1/Pv9WYD+Ue+Tp9L+Jc/EL9WVAxTztL7bKPOC3hZQvzeqlDsXu+C78WhkAknGARRaKuxO/ptM7CnvMAro/d+du4//DDSwxyd1VqW7f3g/Bzv8XDtwDD9bWz50c9MeIc4iHx1fwG1j+EhBHAdI/LnoqYD3GYU2MiNTJM3tvHDoPaa6kD0QoFwmaMZ8fHSy0TYIU5Fc3qcCac0Xakg9bNC0I="
        - GH_REF: github.com/free5ty1e/primestationone-control-android.git
        - JAVA7_HOME=/usr/lib/jvm/java-7-oracle
        - JAVA8_HOME=/usr/lib/jvm/java-8-oracle

android:
    components:
        # Uncomment the lines below if you want to
        # use the latest revision of Android SDK Tools
        - platform-tools
        - tools
        - extra

        # The BuildTools version used by your project
        - build-tools-23.0.2

        # The Emulator API level, if different from the SDK version
        - android-22

        # The SDK version used to compile your project
        - android-23

        # Additional components
        #- extra-google-google_play_services
        - extra-google-m2repository
        - extra-android-m2repository
        - addon-google_apis-google-23

        # Specify at least one system image,
        # if you need to run emulator(s) during your tests
#        - sys-img-armeabi-v7a-android-19
        - sys-img-armeabi-v7a-android-22
        - sys-img-armeabi-v7a-android-23
        #- sys-img-x86-android-17

# Emulator Management: Create, Start and Wait
before_script:
    - echo "JAVA_HOME = $JAVA_HOME"
    - echo "JAVA8_HOME = $JAVA8_HOME"
    - echo "JAVA7_HOME = $JAVA7_HOME"
#    - echo Creating and starting Android Emulator API10...
#    - echo no | android create avd --force -n test10 -t android-10 --abi armeabi
#    - emulator -avd test10 -no-skin -no-audio -no-window &
#    - echo Clean build testing on API10 emulator...
#    - android-wait-for-emulator
#    #- adb shell input keyevent 82 &
#    - ./gradlew clean build connectedAndroidTest
#    - echo Killing emulator....
#    - killall emulator64-arm
#    - echo Creating and starting Android Emulator API19...
#    - echo no | android create avd --force -n test19 -t android-19 --abi armeabi-v7a
#    - emulator -avd test19 -no-skin -no-audio -no-window &
#    - echo Clean build testing on API19 emulator...
#    - android-wait-for-emulator
#    #- adb shell input keyevent 82 &
#    - ./gradlew clean build connectedAndroidTest
#    - echo Killing emulator....
#    - killall emulator64-arm
    - echo "Creating and starting Android Emulator..."
    - echo no | android create avd --force -n test22 -t android-22 --abi armeabi-v7a
    - emulator -avd test22 -no-skin -no-audio -no-window &
    - android-wait-for-emulator
    #- adb shell input keyevent 82 &

script:
    - ./gradlew clean build spoon

after_script:
    - echo Publishing reports...
    - bash ./publish.sh
    - echo "Killing emulator...."
    - killall emulator64-arm
    - echo "Dumping lint report out to console so it can be reviewed, save the following to an HTML file and open in a web browser for a nice report..."
    - echo "-----------------------------------------------------------------------------------------"
    - cat /home/travis/build/free5ty1e/primestationone-control-android/app/build/outputs/lint-results.html
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "Dumping lint report out to console so it can be reviewed, save the following to an XML file and autoformat (or use online XML formatter)..."
    - echo "-----------------------------------------------------------------------------------------"
    - cat /home/travis/build/free5ty1e/primestationone-control-android/app/build/outputs/lint-results.xml
