language: android
sudo: required

jdk:
#    - oraclejdk7 -- appears to come with the android language setting, above
    - oraclejdk8

env:
    global:
        - secure: "EHr7jdca7v9K7mRPqLlPHK3uuiZ54YWBVPKmABXnnDWJ92pp99k10o38sXR9FPkDoh3kT59SVPgZNz9HIzKXtEkVHfpVTda0EArbLsRvY9K8ykGwZnxZxkq1+cZ8bfNam2M5KOyQkE7xibSzHxcOQvcNAZJqE14eCES7mspDyQ6xTyUOYdiL6aKPrk9NRIFjeJR01UDr0S5PAO3ZYrjmj7wGpM4HeKABJZLfMvB1zdwy7pJunE6ACoPKaCc4VkXblR2AYSa088bRDt35z7cjes2PsEKwL301dW4cb8hlWCTCA6a2BJ/mRyt56scrqmavl8vbALevmZF3E7h8CzCd5EgCo7RpWd/fYVOKhQTE8scL8VEIU2zW0pFx2hDR0IGzMkdJZDfYoqYmGRcnmpk/WzZO0QG6X8nxMK3EwoCKYtjSgICeuORHHbj4ygvb8iMLc+3YXpEbjNx57MteU2e8Y1/Pv9WYD+Ue+Tp9L+Jc/EL9WVAxTztL7bKPOC3hZQvzeqlDsXu+C78WhkAknGARRaKuxO/ptM7CnvMAro/d+du4//DDSwxyd1VqW7f3g/Bzv8XDtwDD9bWz50c9MeIc4iHx1fwG1j+EhBHAdI/LnoqYD3GYU2MiNTJM3tvHDoPaa6kD0QoFwmaMZ8fHSy0TYIU5Fc3qcCac0Xakg9bNC0I="
        - GH_REF: github.com/free5ty1e/primestationone-control-android.git
        - JAVA7_HOME=/usr/lib/jvm/java-7-oracle
        - JAVA8_HOME=/usr/lib/jvm/java-8-oracle

android:
    components:
#         Uncomment the lines below if you want to
        # use the latest revision of Android SDK Tools
        - platform-tools
        - tools
        - extra

        # The BuildTools version used by your project
        - build-tools-25.0.0

        # The Emulator API level, if different from the SDK version
#        - android-21

        # The SDK version used to compile your project
        - android-25

        # Additional components
        #- extra-google-google_play_services
#        - extra-google-m2repository
#        - extra-android-m2repository
#        - addon-google_apis-google-25

        # Specify at least one system image,
        # if you need to run emulator(s) during your tests
  #        - sys-img-armeabi-v7a-android-19
#        - sys-img-armeabi-v7a-android-21
  #        - sys-img-armeabi-v7a-android-22
  #        - sys-img-armeabi-v7a-android-23
        #- sys-img-x86-android-17

#  licenses:
#    - 'android-sdk-license-.+'
#    - 'google-gdk-license-.+'

before_install:
  - android list sdk --no-ui --all --extended

#  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -q

  #Ensure all the things we want to execute are executable
  - chmod +x gradlew
  - chmod +x bash/*.sh

  #Install GO language and cowsay
  - sudo apt-get install -y cowsay golang
  - PATH=$PATH:/usr/games
  - export PATH
  - export "GOPATH=$HOME/gocode"

  #Install Ansize, written in GO
  - go get github.com/nfnt/resize
  - go get github.com/jhchen/ansize
  - sudo cp "$GOPATH/bin/ansize" /usr/local/bin/
  - ansize

  #Ansize some images to test console output
  - cowsay -f unipony "Generating Beavis and Butthead ANSI art..."
  - wget https://pbs.twimg.com/profile_images/2221189782/beavis_butthead.jpg
  - ansize beavis_butthead.jpg beavis_butthead.ansi 140

  - wget http://i.imgur.com/vHCzBxU.jpg
  - mv vHCzBxU.jpg cornholio.jpg
  - ansize cornholio.jpg cornholio.ansi 140

  #Exercise some colorful font generation
  - bash/createAnsiFontText.sh primestationfancytextimage 200 'white' 'Helvetica-BoldOblique' '.P.R.I.M.E.' 200 'yellow' 'URW-Palladio-L-Bold' '.S.T.A.T.I.O.N.' 200 'blue' 'Bitstream-Charter-Bold' '.O.N.E.' 200 'green' 'Liberation-Mono-Bold' "v1.0.3!" 'black' 35 140

# Emulator Management: Create, Start and Wait
before_script:
    - echo "JAVA_HOME = $JAVA_HOME"
    - echo "JAVA8_HOME = $JAVA8_HOME"
    - echo "JAVA7_HOME = $JAVA7_HOME"

#    - echo Creating and starting Android Emulator API10...
#    - echo no | android create avd --force -n test10 -t android-10 --abi armeabi
#    - emulator -avd test10 -no-skin -no-audio -no-window &
#    - echo Clean build testing on API10 emulator...
#    - android-wait-for-emulator
#    #- adb shell input keyevent 82 &
#    - ./gradlew clean build connectedAndroidTest
#    - echo Killing emulator....
#    - killall emulator64-arm
#    - echo Creating and starting Android Emulator API19...
#    - echo no | android create avd --force -n test19 -t android-19 --abi armeabi-v7a
#    - emulator -avd test19 -no-skin -no-audio -no-window &
#    - echo Clean build testing on API19 emulator...
#    - android-wait-for-emulator
#    #- adb shell input keyevent 82 &
#    - ./gradlew clean build connectedAndroidTest
#    - echo Killing emulator....
#    - killall emulator64-arm
    - echo "Creating and starting Android Emulator..."
    - echo no | android create avd --sdcard 1G --force --name test21 --target android-21 --abi armeabi-v7a --skin 1080x1920
#    - emulator -avd test21 -no-skin -no-audio -no-window &
    - emulator -avd test21 -no-audio -no-window &

#The below default command times out after only waiting for one minute to bring up the Android AVD emulator, not enough!!
#    - android-wait-for-emulator
#    - bash/waitForEmulatorReady.sh

    #- adb shell input keyevent 82 &

script:
    - ./gradlew clean build spoon --info --full-stacktrace

after_script:
#    - echo Publishing reports...
#    - bash ./publish.sh
    - echo "Killing emulator...."
    - killall emulator64-arm
    - echo "Dumping lint report out to console so it can be reviewed, save the following to an HTML file and open in a web browser for a nice report..."
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - cat /home/travis/build/free5ty1e/primestationone-control-android/app/build/outputs/lint-results.html
    - echo "-----------------------------------------------------------------------------------------"

    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "Dumping lint report out to console so it can be reviewed, save the following to an XML file and autoformat (or use online XML formatter)..."
    - echo "-----------------------------------------------------------------------------------------"
    - cat /home/travis/build/free5ty1e/primestationone-control-android/app/build/outputs/lint-results.xml

    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "Dumping Jacoco unit test coverage report out to console so it can be reviewed"
    - echo "-----------------------------------------------------------------------------------------"
    - cat /home/travis/build/free5ty1e/primestationone-control-android/app/build/reports/jacoco/debug/index.html

    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "Dumping Jacoco instrumentation test coverage report out to console so it can be reviewed"
    - echo "-----------------------------------------------------------------------------------------"
    - cat /home/travis/build/free5ty1e/primestationone-control-android/app/build/reports/coverage/debug/index.html

    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "-----------------------------------------------------------------------------------------"
    - echo "Dumping Spoon automated test report out to console so it can be reviewed"
    - echo "-----------------------------------------------------------------------------------------"
    - cat /home/travis/build/free5ty1e/primestationone-control-android/app/build/spoon/debug/index.html

    - echo "now attempting to visualize screenshots with ascii art..."
